.main {
  margin-top: 5%;
  display: flex;
  align-items: center;
  padding: 1%;
  min-width: 450px;
  background: #005792;
  flex-direction: column;
  border-radius: 10px;
  position: absolute;
  transform: translateX(-50%);
}
button {
  display: block;
  position: relative;
  padding: 20px 60px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background: #fff;
  color: black;
  box-shadow: 0 0 15px black;
}
.main h1 {
  text-align: center;
  color: #fff;
  font-size: 40px;
}
.main img {
  width: 55%;
  transform: translateX(39%);
}
.main h2 {
  text-align: center;
  color: #fff;
  font-size: 30px;
}
